# Домашнее задание к лекции "Статистика. Практика"

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('vgsales.csv')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [14]:
#1) Как критики относятся к спортивным играм?

#H0 - средняя экспертная оценка игр спортивной тематики <= 80 баллов
#H1 - средняя экспертная оценка игр спортивной тематики > 80 баллов
#уровень значимости определим 0.05

In [ ]:
sports = data[data['Genre']=='Sports'].copy()
sports.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [19]:
import scipy.stats as stats

alpha = 0.05
t, p= stats.ttest_1samp(sports['Critic_Score'], 80, alternative='greater')

print(sports['Critic_Score'].mean())
print(f't: {t}, p-value: {p}')

if p < alpha: 
    print('Отвергаем нулевую гипотезу, среднее больше 80 (спортивные игры нравятся)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, среднее меньше или равно 80 (спортивные игры НЕ нравятся)')

71.96817420435511
t: -19.99751475320892, p-value: 1.0
Не отвергаем нулевую нулевую гипотезу, среднее меньше или равно 80 (спортивные игры НЕ нравятся)

In [ ]:
#2) Критикам нравятся больше игры на PC или на PS4?

#H0 - средняя экспертная оценка игр на PC и PS4 не отличается
#H1 - средняя экспертная оценка игр на PC и PS4 отличается
#уровень значимости определим 0.05

In [33]:
pc = data[data['Platform']=='PC'].copy()
ps4 = data[data['Platform']=='PS4'].copy()
pc.dropna(subset = ['Critic_Score'], axis=0, inplace=True)
ps4.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [42]:
t, p = stats.ttest_ind(pc['Critic_Score'], ps4['Critic_Score'], equal_var=False)
print(f't: {t}, p-value: {p}')
print(f'Средние значения PC: {pc["Critic_Score"].mean()}, PS4: {ps4["Critic_Score"].mean()}')

if (p < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4')
    if pc["Critic_Score"].mean() > ps4["Critic_Score"].mean():
        print('Критикам больше нравятся игры на PC')
    elif pc["Critic_Score"].mean() < ps4["Critic_Score"].mean():
        print('Критикам больше нравятся игры на PS4')
else:
    print('Не отвергаем нулевую гипотезу')

t: 4.3087588262138725, p-value: 2.067249157283479e-05
Средние значения PC: 75.92867132867133, PS4: 72.09126984126983
Отвергаем нулевую гипотезу, критики по разному относятся к играм на PC и PS4
Критикам больше нравятся игры на PC

In [ ]:
#3) Критикам больше нравятся стрелялки или стратегии?

#H0 - средняя экспертная оценка стрелялок и стратегий не отличается
#H1 - средняя экспертная оценка стрелялок и стратегий отличается
#уровень значимости определим 0.05

In [48]:
shooter = data[data['Genre']=='Shooter'].copy()
strategy = data[data['Genre']=='Strategy'].copy()
shooter.dropna(subset = ['Critic_Score'], axis=0, inplace=True)
strategy.dropna(subset = ['Critic_Score'], axis=0, inplace=True)

In [51]:
t, p = stats.ttest_ind(shooter['Critic_Score'], strategy['Critic_Score'], equal_var=False)
print(f't: {t}, p-value: {p}')
print(f'Средние значения "стрелялки": {shooter["Critic_Score"].mean()}, "стратегии": {strategy["Critic_Score"].mean()}')

if (p < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям')
    if shooter["Critic_Score"].mean() > strategy["Critic_Score"].mean():
        print('Критикам больше нравятся стрелялки')
    elif shooter["Critic_Score"].mean() < strategy["Critic_Score"].mean():
        print('Критикам больше нравятся стратегии')
else:
    print('Не отвергаем нулевую гипотезу')

t: -2.2972408230640315, p-value: 0.021938989522304823
Средние значения "стрелялки": 70.18114406779661, "стратегии": 72.08609271523179
Отвергаем нулевую гипотезу, критики по разному относятся к стрелялкам и стратегиям
Критикам больше нравятся стратегии

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);  
7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).