In [1]:
import os
import pandas as pd
from pprint import pprint

In [2]:
#Задание №1
#читаю список фильмов
movies = pd.read_csv(os.getcwd() + '/ml-latest-small/movies.csv')
#movies

In [3]:
#читаю пользовательские рейтинги фильмов
ratings = pd.read_csv(os.getcwd() + '/ml-latest-small/ratings.csv')
#ratings

In [4]:
#получаю средний рейтинг для каждого фильма, который подвергался оценке (не реиндексирую!)
movie_class = ratings.groupby('movieId').agg({'rating':'mean'})#.reset_index()
#movie_class

In [5]:
#классифицрую фильмы, подвергавшиеся оценке, согласно условию задачи
def movie_ratings_classification(rating):
    if rating <= 2.0: return 'LOW'
    elif rating <= 4.0: return 'MIDDLE'
    elif rating == 4.5 or rating == 5.0: return 'HIGH'
    else: return "NOT CLASSIFIED" #ели средний рейтинг не соответствует ни одному из условий классификации

#создаю колонку class и записываю туда результаты классификации
movie_class['class'] = movie_class['rating'].apply(movie_ratings_classification)
#movie_class

In [6]:
#список всех имеющихся фильмов дополняю результатом классификации (столбец class)
def movie_classification(movieId):
    try:
        movie_class.iloc[movieId]
    except IndexError: 
        return 'DO NOT RATE'  #если фильм не подвергался оценке (в таблице рейтингов его нет)
    return movie_class.iloc[movieId, 1]

movies['class'] = movies['movieId'].apply(movie_classification)
movies #[movies['class']=='DO NOT RATE']

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,MIDDLE
1,2,Jumanji (1995),Adventure|Children|Fantasy,MIDDLE
2,3,Grumpier Old Men (1995),Comedy|Romance,MIDDLE
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,MIDDLE
4,5,Father of the Bride Part II (1995),Comedy,MIDDLE
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,DO NOT RATE
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,DO NOT RATE
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,DO NOT RATE
9123,164977,The Gay Desperado (1936),Comedy,DO NOT RATE
9124,164979,"Women of '69, Unboxed",Documentary,DO NOT RATE

In [2]:
#Задание №2
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [3]:
#читаю файл запросов
query = pd.read_csv(os.getcwd() + '/ml-latest-small/keywords.csv')
#query

In [4]:
#проверяю наличие слов из запроса в словаре geo_data
#возвращаю ключ словаря в качестве региона, в случае удачи
#в случае неудачи возвращаю 'undefined'
def region_selection(keyword):
    words = keyword.split(' ')
    for region in geo_data:
        for word in words:
            if word in geo_data[region]: return region
    return 'undefined'

#записываю результат выбора региона в столбец region
query['region'] = query['keyword'].apply(region_selection)
query[query['region']=='Дальний Восток']

                                       keyword   shows          region
1063                       фарпост владивосток  176951  Дальний Восток
2175                            дром хабаровск   98361  Дальний Восток
3206                          дром владивосток   73084  Дальний Восток
3275                        100 сп владивосток   76418  Дальний Восток
3687                           авито хабаровск   63736  Дальний Восток
...                                        ...     ...             ...
90402                     аэропорт владивосток    4658  Дальний Восток
92442  монастырев владивосток официальный сайт    3870  Дальний Восток
92843                    проститутки хабаровск    4120  Дальний Восток
93872                        биглион хабаровск    3890  Дальний Восток
95572                 точное время владивосток    4142  Дальний Восток

[64 rows x 3 columns]

In [10]:
def region(row):
    row_list = row.split(' ')
    for key in geo_data:
        #print(key)
        i = 0
        for key, value in geo_data.items():
            print(value, row_list[i])
            if row_list[i] in value:
                print(row_list[i])
                return key
        i +=1

row = 'вологда петербург среда'
            
qwe = region(row)
qwe

['москва', 'тула', 'ярославль'] вологда
['петербург', 'псков', 'мурманск'] вологда
['владивосток', 'сахалин', 'хабаровск'] вологда
['москва', 'тула', 'ярославль'] вологда
['петербург', 'псков', 'мурманск'] вологда
['владивосток', 'сахалин', 'хабаровск'] вологда
['москва', 'тула', 'ярославль'] вологда
['петербург', 'псков', 'мурманск'] вологда
['владивосток', 'сахалин', 'хабаровск'] вологда

# qwe

In [19]:
def region(row):
    row_list = row.split(' ')
    for key in geo_data:
        for value in row_list:
            if value in geo_data.get(key):
                print(key)
                return key
            
row = 'ветер петербург москвааааа'
qwe = region(row)
qwe

Северо-Запад

'Северо-Запад'

In [10]:
#Задание №3
#читаю список фильмов и список рейтингов
movies = pd.read_csv(os.getcwd() + '/ml-latest-small/movies.csv')
ratings = pd.read_csv(os.getcwd() + '/ml-latest-small/ratings.csv')

In [11]:
#заполняю years
years = list(range(1950,2011))

In [12]:
#определяю год фильма
def production_year(title):
    for year in years:
        if str(year) in title: return year
    return 1900
#добавляю столбец year, содержащий год
movies['year'] = movies['title'].apply(production_year)

In [13]:
#считаю средний рейтинг по фильмам, которые подверглись оценке пользователями
movies_mean_ratings = ratings.groupby('movieId').agg({'rating':'mean'}).reset_index()

In [15]:
%%time
#бинарный поиск, взято из "Aditya Bhargava. Grokking Algorithms."
def binary_search(list, item):
    low = 0
    high = len(list) - 1
    while low <= high:
        mid = (low + high) // 2
        guess = list[mid]
        if guess == item:
            return mid
        if guess > item:
            high = mid - 1
        else:
            low = mid + 1
    return None

#список всех имеющихся фильмов дополняю столбцом mean rating с данными по среднему рейтингу фильма
#если фильм не подвергался оценке, то записываю None(это не исказит результаты нахождения среднего 
#рейтинга в разрезе года, как если бы заменил на 0.0, т.к. None не учитывается функцией mean)

def mean_raiting(movieId):
    index = binary_search(list(movies_mean_ratings['movieId']), movieId) #использую бинарный поиск
    if index != None:
        return movies_mean_ratings.iloc[index, 1]
    else:
        return None

movies['mean rating'] = movies['movieId'].apply(mean_raiting)

CPU times: user 10.4 s, sys: 41.4 ms, total: 10.5 s
Wall time: 10.5 s