In [58]:
#даты
import datetime as dt
#from datetime import timedelta
#from datetime import datetime

In [59]:
date_string = '09.05.2018 09:00'

In [60]:
date_datetime = dt.datetime.strptime(date_string,'%d.%m.%Y %H:%M')
date_datetime #объект date

datetime.datetime(2018, 5, 9, 9, 0)

In [61]:
date_datetime.year, date_datetime.hour

(2018, 9)

In [62]:
#прибавление интервала к датам
#формат "YYYY-MM-DD" удобен тем, что и в виде строки, и в виде даты он сортируется одинаково
start_date = '2018-01-01'
end_date = '2018-01-07'

In [63]:
type(start_date)

str

In [64]:
start_date_datetime = dt.datetime.strptime(start_date,'%Y-%m-%d')
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [65]:
start_date_datetime + timedelta(days = -1, hours = 1, minutes = -1)

datetime.datetime(2017, 12, 31, 0, 59)

In [66]:
#перевод обратно в строку
date = dt.datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [67]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [68]:
#как получить первый день месяца?
dt.datetime.now().strftime('%Y-%m-01')

'2021-04-01'

In [69]:
#перебор дней
start_date = '2018-01-01' #строки
end_date = '2018-01-07'

start_date_datetime = dt.datetime.strptime(start_date,'%Y-%m-%d') #объекты date
end_date_datetime = dt.datetime.strptime(end_date,'%Y-%m-%d')

current_day = start_date_datetime
while current_day < end_date_datetime:
    print(current_day.strftime('%Y-%m-%d'))
    current_day += dt.timedelta(days = 1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06

In [78]:
#крутое решение list comprehention
[(start_date_datetime + dt.timedelta(days = x)).strftime('%Y-%m-%d') for x in range(10)]

{'2018-01-01',
 '2018-01-02',
 '2018-01-03',
 '2018-01-04',
 '2018-01-05',
 '2018-01-06',
 '2018-01-07',
 '2018-01-08',
 '2018-01-09',
 '2018-01-10'}